<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN/" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.preschool.dao.PortfolioDao"><!-- Class be looked -->

	
	
	<insert id="insertContent" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into freeboard (
			id, <!-- 서버구동시 삭제 id부분 -->
			title,
			writer,
			content
		
		)values (
		#{id},
		#{title},
		#{writer},
		#{smarteditor}
		
		) on duplicate key update 
		id = #{id},
		title = #{title},
		writer = #{writer},
		content = #{smarteditor}
	
	</insert>
	
	<insert id="insertReplyAlert" 
		parameterType="java.util.HashMap">
		<!--서버에 구동시 useGeneratedKeys 사용해서 
		reply_id 가져와야함. -->
		insert into freeboardreplyalter (
			board_id,
			reply_id

			) values (
			#{board_id},
			#{reply_id})
		
	
	</insert>
	
	<!-- 댓글 -->
	<insert id="insertBoardReply"  parameterType="java.util.HashMap"
	 useGeneratedKeys="true" 
	keyProperty="reply_id" >
	insert into freeboardreply (
	<!-- 테스트시에 -->
		
	<!--  -->
		board_id,
		parent_id,
		depth,
		reply_content,
		reply_writer


	)values (
	<!--  테스트시에 -->
		
		<!--  -->
		#{board_id},
		#{parent_id},
		#{depth},
		#{reply_content},
		#{reply_writer}

	
	 ) on duplicate key update 
	
		
		board_id = #{board_id},
		parent_id = #{parent_id},
		depth = #{depth},
		reply_content = #{reply_content},
		reply_writer = #{reply_writer}
	</insert>
	
	<insert id="insertFile" parameterType="java.util.HashMap">
		INSERT INTO TB_FILE
		(
			
			BOARD_IDX,
			ORIGINAL_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE,
			CREA_ID
		)
		VALUES
		(
			#{BOARD_IDX},
			#{ORIGINAL_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE},
			#{NICKNAME}
		)
		
	</insert>
	


	
	
</mapper>