<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN/" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.preschool.dao.PortfolioDao"><!-- Class be looked -->

	
	
	<insert id="addPortofolio" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="no">
		insert into portfolio (
			teacher_no,
			child_no,
			title,
			comment,
			every_day,
			photos_url
		
		)values (
		#{teacher_no},
		#{child_no},
		#{title},
		#{comment},
		#{every_day},
		#{photos_url}
		
		) on duplicate key update 
		teacher_no = #{teacher_no},
		child_no = #{child_no},
		title = #{title},
		comment = #{comment},
		every_day = #{every_day},
		photos_url = #{photos_url}
	
	</insert>
	
	<insert id="insertReplyAlert" 
		parameterType="java.util.HashMap">
		<!--서버에 구동시 useGeneratedKeys 사용해서 
		reply_id 가져와야함. -->
		insert into freeboardreplyalter (
			board_id,
			reply_id

			) values (
			#{board_id},
			#{reply_id})
		
	
	</insert>
	
	<!-- 댓글 -->
	<insert id="insertBoardReply"  parameterType="java.util.HashMap"
	 useGeneratedKeys="true" 
	keyProperty="reply_id" >
	insert into freeboardreply (
	<!-- 테스트시에 -->
		
	<!--  -->
		board_id,
		parent_id,
		depth,
		reply_content,
		reply_writer


	)values (
	<!--  테스트시에 -->
		
		<!--  -->
		#{board_id},
		#{parent_id},
		#{depth},
		#{reply_content},
		#{reply_writer}

	
	 ) on duplicate key update 
	
		
		board_id = #{board_id},
		parent_id = #{parent_id},
		depth = #{depth},
		reply_content = #{reply_content},
		reply_writer = #{reply_writer}
	</insert>
	
	<insert id="insertFile" parameterType="java.util.HashMap">
		INSERT INTO TB_FILE
		(
			
			BOARD_IDX,
			ORIGINAL_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE,
			CREA_ID
		)
		VALUES
		(
			#{BOARD_IDX},
			#{ORIGINAL_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE},
			#{NICKNAME}
		)
		
	</insert>
	
	<delete id="deleteAllPortfolio">
		delete from portfolio
	</delete>
	
	<select id="getOnePortfolioWtihChildren_no" parameterType="int"
	resultType="com.www.preschool.dto.PortfolioDto">
		select 
			*
		from
			portfolio
		where 
			child_no = #{child_no}
	</select> 
	
	<update id="updatePortfolio" parameterType="java.util.HashMap">
		update
			portfolio
		set
			title=#{title},
			comment=#{comment},
			every_day=#{every_day},
			photos_url=#{photos_url}
		where
			no = #{no}
			
	</update>
	
	<delete id="delete" parameterType="java.util.HashMap">
		delete
			from
		portfolio
			where
		no = #{no}	
	</delete>
	

	


	
	
</mapper>